<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{i.title}}</title>
  <link rel="stylesheet" href={% static 'style.css'%} />  
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/films/">Films</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
  <h1>List of films</h1>
  <div class='container'>
    {% for i in films %}
      <a href="{{i.title}}">
        <div class="card">
          <div>
            <span class='title'>{{i.title}}</span>
          </div>
          <div>
            <span>Genre: {{i.genre}}</span>
            <span>Price: {{i.price}}$</span>
            <span>Rating: {{i.rating}}/10</span>
          </div>
        </div>
      </a>
    {%endfor%}
  </div>
</body>
</html> 