<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <link rel="stylesheet" href={% static 'style.css' %}>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/films/">Films</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
  <h1>Let's Netflix and chill</h1>
</body>
</html>